/**=====================
    default variables
==========================**/

/* Colors*/
$primary-color:#F3164D;
$secondary-color:#F3164D;
$primary-color-hover:#663399;
$text-color:#333366;
$icon-hover:#663399;

$white:#fff;

$gray:#00000029;
$gray2:#C4C4C4;
$gray3:#00000024;
$gray4:#7D7D7D;
$gray5:#797980;
$gray5:#BBC5D5;
$gray6:#F2F4F7;
$gray7:#A1A1A1;
$yellow:#FFF799;
$pink:#ED145B;
$light-pink:#FF808B;

$black:#000000;
$light-black:#252526;



$menu-color:#505050;
$border-color:#2a66b3;
$subtitle-color:#00a0dc;
$content-color:#505050;


/* font Family */
$font-primary: 'Montserrat', sans-serif;

/* Font Size */
$f10: 10px;
$f12: 12px;
$f13: 13px;
$f14: 14px;
$f16: 16px;
$f18: 18px;
$f22: 22px;
$f24: 24px;
$f30: 30px;
$f32: 32px;
$f40: 40px;
$f70: 70px;


/* font Weight */
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;